#header {background-image:url(Pictures/Alps.jpg); background-size: 100% 100%; height: 200px; padding: 10px}


h2{color: #5e1740; padding: 10px; width: 350px; border-left: 2px solid #5e1740;border-bottom: 3px solid #5e1740}
h1 {font-family: Andalus; font-size: 34pt; text-align: center; color:#5e1740}
dt{font-weight: bold; text-decoration: underline}
p{text-align: justify;}
th{background-color: #5e1740; color: #d6dde3}
h3{text-decoration: underline; color: #5e1740}
.Highest{color: #A52486; font-weight: bold; font-style: italic}
ol li{font-weight: bold}
ul li{font-weight: normal}
.floatLeft {float: left; margin-right: 25px; margin-bottom: 25px}
.floatRight {float: right; margin-left: 25px; margin-top:0}
figure{margin:10px;}
figCaption {text-align: center;}

table {border: 5px solid #5e1740}
td, th{border: 1px solid #5e1740}
body{font-family: Georgia, Times, Serif; line-height: 150%}
