/* ===== Global ===== */
body {
  font-family: Georgia, Times, Serif;
  line-height: 150%;
  background-color: #94A3B1;
}

/* ===== Wrapper ===== */
#wrapper {
  width: 90%;
  margin: auto;
  background-color: #DBDCD4;
}

/* ===== Header ===== */
header {
  background-image: url(Pictures/Alps.jpg);
  background-size: 100% 100%;
  height: 200px;
  padding: 10px;
}

h1 {
  font-family: Andalus;
  font-size: 34pt;
  text-align: center;
  color: #5E1740;
}

/* ===== Navigation ===== */
nav {
  width: 180px;
  float: left;
  background-color: #94A3B1;
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  display: block;
  text-decoration: none;
  background-color: #2F4517;
  color: #DBDCD4;
  padding: 8px;
  text-align: center;
}

nav a:hover {
  background-color: #5E1740;
  color: blue;
}

/* ===== Main Content ===== */
main {
  margin-left: 200px;
  padding: 15px;
}

/* ===== Headings ===== */
h2 {
  color: #5E1740;
  padding: 10px;
  width: 350px;
  border-left: 2px solid #5E1740;
  border-bottom: 3px solid #5E1740;
}

h3 {
  text-decoration: underline;
  color: #5E1740;
}

/* ===== Text ===== */
p {
  text-align: justify;
}

dt {
  font-weight: bold;
  text-decoration: underline;
}

/* ===== Tables ===== */
table {
  border: 5px solid #5E1740;
}

td, th {
  border: 1px solid #5E1740;
}

th {
  background-color: #5E1740;
  color: #DBDCD4;
}

.Highest {
  color: #A52486;
  font-weight: bold;
  font-style: italic;
}

/* ===== Lists ===== */
ol li {
  font-weight: bold;
}

ul li {
  font-weight: normal;
}

/* ===== Images ===== */
.floatLeft {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}

.floatRight {
  float: right;
  margin-left: 25px;
  margin-top: 0;
}

figure {
  margin: 10px;
}

figcaption {
  text-align: center;
}

/* ===== Footer ===== */
footer {
  clear: both;
  background-color: #94A3B1;
  text-align: center;
  padding: 10px;
}
