body {
  font-family: Georgia, Times, Serif;
  line-height: 150%;
  background-color: #94A3B1;
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 90%;
  margin: 20px auto;
  background-color: #DBDCD4;
  border: 6px solid #2F4517;
}

header {
  background-image: url(../Alps.jpg);
  background-size: cover;
  background-position: center;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: Andalus;
  font-size: 34pt;
  color: #5E1740;
  text-align: center;
}

nav {
  width: 180px;
  float: left;
  background-color: #2F4517;
  padding: 15px 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin-bottom: 10px;
}

nav a {
  display: block;
  background-color: #94A3B1;
  color: #5E1740;
  text-decoration: none;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  border: 2px solid #2F4517;
}

nav a:hover {
  background-color: #5E1740;
  color: blue;
}

main {
  margin-left: 200px;
  padding: 20px;
  background-color: #DBDCD4;
}

h2 {
  color: #5E1740;
  padding: 10px;
  width: 350px;
  border-left: 2px solid #5E1740;
  border-bottom: 3px solid #5E1740;
}

h3 {
  text-decoration: underline;
  color: #5E1740;
}

p {
  text-align: justify;
}

dt {
  font-weight: bold;
  text-decoration: underline;
}

table {
  border: 5px solid #5E1740;
}

td, th {
  border: 1px solid #5E1740;
}

th {
  background-color: #5E1740;
  color: #DBDCD4;
}

.Highest {
  color: #A52486;
  font-weight: bold;
  font-style: italic;
}

ol li {
  font-weight: bold;
}

ul li {
  font-weight: normal;
}

.floatLeft {
  float: left;
  margin-right: 25px;
  margin-bottom: 25px;
}

.floatRight {
  float: right;
  margin-left: 25px;
  margin-top: 0;
}

figure {
  margin: 10px;
}

figcaption {
  text-align: center;
}

footer {
  clear: both;
  background-color: #DBDCD4;
  border-top: 6px solid #2F4517;
  text-align: center;
  padding: 15px;
  font-size: 0.9em;
}
